.App {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.card {
  min-height: 60vh;
  background-color: rgb(239, 224, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card-item {
  background-color: rgb(177, 177, 236);
  min-width: 200px;
  text-align: center;
  border-radius: 10px;
}
